body{
	background-color: black;
	color: white;
}
.table{
	margin: 0 auto;
	border: 1px solid white;
	th{
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		&:last-child{
			border-right: none;
		}
	}
	td{
		border-right: 1px solid white;
		&:last-child{
			border-right: none;
		}
	}
	&__head{
		border-bottom: 3px solid white;
	}
}