.inputWrapper{
	background-color: #c0deed;
	max-width: 300px;
	position: relative;
	margin: 0 auto;
	border: 1px solid black;
	textarea{
		width: 100%;
		max-width: 100%;
		min-height: 100px;
		border: none;
		outline: none;
		padding: 10px;
		margin-bottom: -5px;
	}
}
.inputCounter{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 14px;
	color: #6c6c6c;
}