.hero{
	min-height: 600px;
	overflow: hidden;
	position: relative;
	height: 100vh;
	&__bg-img{
		max-width: 180%;
		display: block;
	}
	&__bg{
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		height: 1270px;
	}
}
.hamburger{
	position: absolute;
	top: 25px;
	right: 25px;
}
.hero__title{
	position: absolute;
	@include centered('y');
	text-align: center;
	width: 100%;
}
.section-title{
	display: inline-block;
}
.user__name{
	font-size: 35px;
	font-weight: bold;
	color: #fff;
}
.user__desc{
	font-size: 16px;
	color: #fff;
	opacity: 0.7;
}
.user__photo{
	margin-bottom: 35px;
}
.user__photo-avatar{
	width: 145px;
	height: 145px;
	display: block;
	margin: 0 auto;
}
.user__photo-img{
	max-width: 100%;
	border-radius: 100%;
}
.down-arrow{
	position: absolute;
	bottom: 40px;
	@include centered('x');
	z-index: 10;
}
.header__social{
	position: absolute;
	top:30px;
}