form#form(method='POST', action='mail.php')
	input(type='text', name='name', class='validate[required]', placeholder='Обязательное, только кириллица')
	input.phone(type='text', name='phone', class='validate[required]', placeholder='Обязательное')
	input(type='text', name='email', class='validate[required,custom[email]]', placeholder='Обязательное, только email')
	textarea(name='comment', class='validate[required]')
	input(type='checkbox', name='agree', class='validate[required]')
	input(type='radio', name='radio', class='validate[required]', value='value1')
	input(type='radio', name='radio', class='validate[required]', value='value1')
	input(type='submit',value='Отправить')