@import 'common/variables';
@import 'common/mixins';
@import 'common/fonts';
@import 'common/base';
@import 'blocks/**/*';
//@import 'common/sprite-img';

/* .retina-sprite-block{
  @include retina-sprite($abiatec-group);
} */

$main-font-color: #373e42;
$font-color: #455a64;

ul,ol,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p{
  margin: 0;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
.wrapper{
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.none{
    display: none !important;
}
body{
    font-family: 'Raleway', sans-serif;
}
.app{
  max-width: 720px;
  margin: 0 auto;
}
.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 5px;
  box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
  padding: 3px 5px;
  width: 100%;
}
.news__header{
  text-align: center;
}
.news__author {
  text-decoration: underline;
  color: #007DDC;
}
.news__count {
  margin: 10px 0 0 0;
  display: block;
}
.test-input{
  margin: 0 5px 5px 0;
}

.add {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}
.add__author, .add__text, .add__btn, .add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__checkrule {
  border: none;
  font-size: 12px;
}
.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:disabled {
  background: #CCC;
  color: #999;
}

.block1 {
    width: 100px;
    height: 100px;
    background-color: #000;
    @include wide() {
        background-color: #66ff66;
    }
    @include desktop() {
        background-color: #ff6666;
    }
    @include tablet() {
        background-color: #ffb366;
    }
    @include mobile() {
        background-color: #ffff66;
    }
    @include iphone() {
        background-color: #66ffff;
    }
}

.block2 {
    width: 100px;
    height: 100px;
    background-color: #668cff;
    @include wide() {
        background-color: #6666ff;
    }
    @include desktop() {
        background-color: #d966ff;
    }
    @include tablet() {
        background-color: #ff6666;
    }
    @include mobile() {
        background-color: #66ffb3;
    }
    @include iphone() {
        background-color: #ffd966;
    }
}
.list{
	@include counter(myList, 'test ');
}
.tool{
    @include tooltip(r);
    @include centered();
    &:before{
        width: 100%;
        max-width: 300px;
    }
}

$status-colors: (
  primary: #000,
  success: #27BA6C,
  info: #03a9f4,
  warning: #FF8833,
  danger: #ff1a1a
);
