//Facebook metatags
meta(property="og:title" content="Page title")
meta(property="og:description" content="description")
meta(property="og:image" content="https://website.com/image250X250.png")
meta(property="og:url" content="http://www.site.com")
//Twitter metatags
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="Page website")
meta(name="twitter:title" content="Page title")
meta(name="twitter:description" content="description")
