%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin centered($axis: 'both') {
  position: absolute;
  @if $axis=='x' {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis=='y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis=='both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}