/* Large Devices, Wide Screens */

@mixin wide() {
    @media screen and (max-width: 1199px) {
        @content;
    }
}


/* Medium Devices, Desktops */

@mixin desktop() {
    @media only screen and (max-width: 992px) {
        @content;
    }
}


/* Small Devices, Tablets */

@mixin tablet() {
    @media screen and (max-width: 768px) {
        @content;
    }
}


/* Extra Small Devices, Phones */

@mixin mobile() {
    @media only screen and (max-width: 480px) {
        @content;
    }
}


/* Custom, iPhone Retina */

@mixin iphone() {
    @media screen and (max-width: 320px) {
        @content;
    }
}



@mixin retina() {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        @content;
    }
}


%clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin centered($axis: 'both') {
    position: absolute;
    @if $axis=='x' {
        left: 50%;
        transform: translateX(-50%);
    }
    @if $axis=='y' {
        top: 50%;
        transform: translateY(-50%);
    }
    @if $axis=='both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@mixin rem($size){
    font-size:($size/16) + rem; 
}




@mixin triangle($width, $height, $bg, $direction) {
    width: 0px;
    height: 0px;
    border-style: solid;
    @if $direction=='t' {
        border-width: 0 $width / 2 + px $height + px $width / 2 + px;
        border-color: transparent transparent $bg transparent;
    }
    @if $direction=='r' {
        border-width: $height / 2 + px 0 $height / 2 + px $width + px;
        border-color: transparent transparent transparent $bg
    }
    @if $direction=='b' {
        border-width: $height + px $width / 2 + px 0 $width / 2 + px;
        border-color: $bg transparent transparent transparent
    }
    @if $direction=='l' {
        border-width: $height / 2 + px $width + px $height / 2 + px 0;
        border-color: transparent $bg transparent transparent;
    }
    @if $direction=='tl' {
        border-width: $height + px $width + px 0 0;
        border-color: $bg transparent transparent transparent
    }
    @if $direction=='tr' {
        border-width: 0 $width + px $height + px 0;
        border-color: transparent $bg transparent transparent
    }
    @if $direction=='br' {
        border-width: 0 0 $height + px $width + px;
        border-color: transparent transparent $bg transparent
    }
    @if $direction=='bl' {
        border-width: $width + px 0 0 $height + px;
        border-color: transparent transparent transparent $bg
    }
}


@mixin tooltip($dir:t, $color:#000000, $bg:#84a02b, $br:5, $tr:.6, $offset:10, $ptb:10, $plr:10, $arrW:15, $arrH:8) {
    position: relative;
    cursor: pointer;
    &:before,
    &:after{
        position: absolute;
        left: -9999px;
        opacity: 0;
        transition: opacity $tr + s;
    }
    @if $dir=='t'{
        &:before{
            bottom: calc(100% + #{$offset}px);
        }
    } @else if $dir=='b' {
        &:before{
            top: calc(100% + #{$offset}px);
        }
    } @else if $dir=='l' {
        &:before,&:after{
            left:auto;
            right: 9999px;
        }
    }
    &:before {
        content: attr(data-tooltip);
        color: $color;
        background-color: $bg;
        padding: $ptb+px $plr+px;
        border-radius: $br+px; 
        //white-space: nowrap;
    }
    &:after {
        $arrDir: $dir;
        $arrWN: $arrW;
        $arrHN: $arrH;
        content: '';
        @if $dir=='r' or $dir=='l'{
            $arrHN: $arrW;
            $arrWN: $arrH;
        }
        @if $dir=='t' {
            $arrDir: b;
            bottom: calc(100% + #{$offset}px - #{$arrHN}px);
        } @else if $dir=='r' {
            $arrDir: l;
        } @else if $dir=='b' {
            $arrDir: t;
            top: calc(100% + #{$offset}px - #{$arrHN}px);
        } @else if $dir=='l' {
            $arrDir: r;
        }
        @include triangle($arrWN, $arrHN, $bg, $arrDir) 
    }
    &:hover {
        $arrDir: $dir;
        $arrWN: $arrW;
        $arrHN: $arrH;
        &:before,
        &:after {
            opacity: 1;
            left: 50%;
            transform: translateX(-50%);
        }
        @if $dir=='r' or $dir=='l'{
            &:before,&:after{
                top:50%;
                transform:translateY(-50%);
            }
        }
        @if $dir=='r' {
            &:before{
                left: calc(100% + #{$offset}px);
            }
            &:after{
                left: calc(100% + #{$offset}px - #{$arrHN}px);
            }
        }@else if $dir=='l' {
            &:before,&:after{
                left:auto;
            }
            &:before{
                right: calc(100% + #{$offset}px);
            }
            &:after{
                right: calc(100% + #{$offset}px - #{$arrHN}px);
            }
        }
    }
}

@mixin counter($var, $sep) {
    counter-reset: list + $var;
    > li {
        &:before {
            content: counter(list + $var) $sep;
            counter-increment: list + $var;
        }
    }
}
@mixin scrollbar() {
    &::-webkit-scrollbar{
        @content
    }
}

@mixin scrollbar-track() {
    &::-webkit-scrollbar-track{
        @content
    }
}
@mixin scrollbar-thumb() {
    &::-webkit-scrollbar-thumb{
        @content
    }
}
@mixin scrollbar-track-piece() {
    &::-webkit-scrollbar-track-piece{
        @content
    }
}
