.tabs
	ul.tabs__nav
		li.tabs__nav-item.tabs__nav-item_active(data-tab='1')
			a.tabs__nav-link(href='#') 1
		li.tabs__nav-item(data-tab='2')
			a.tabs__nav-link(href='#') 2
		li.tabs__nav-item(data-tab='3')
			a.tabs__nav-link(href='#') 3
		li.tabs__nav-item(data-tab='4')
			a.tabs__nav-link(href='#') 4
	ul.tabs__list
		li.tabs__item.tabs__item_1.tabs__item_active
			h2 TABS1
		li.tabs__item.tabs__item_2
			h2 TABS2
		li.tabs__item.tabs__item_4
			h2 TABS4
		li.tabs__item.tabs__item_3
			h2 TABS3