extends ../_template

block variables
	- var title = ['index page Title','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
	//	include ../blocks/..

	//- PASTE SVG
	+icon('vk','social__link')
	+icon('twitter','social__link')
	ul.nav
		each link,title in nav.navPages
			li.nav__item
				a.nav__link(href=`${link}`) #{title}
	.block1
	.block2
	.lorem lorem

	ul.list
		li.list__item lorem
		li.list__item lorem
		li.list__item lorem
		li.list__item lorem
		li.list__item lorem
		li.list__item lorem
		li.list__item lorem
		li.list__item lorem
	.tool(data-tooltip=" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda totam fuga soluta quas culpa pariatur consequatur sapiente blanditiis quod quam.") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sequi dolorum expedita voluptates quos, iusto, veritatis repellat suscipit cumque harum dignissimos maiores soluta accusamus eveniet repudiandae aliquam eos id fugit!