extends ../_template

block variables
	- var title = ['index page Title','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
	//	include ../blocks/..

	//- PASTE SVG

	//- ul.nav
	//- 	each link,title in nav.navPages
	//- 		li.nav__item
	//- 			a.nav__link(href=`${link}`) #{title}
	

	//- #root hi i am root!
	#name 1
	#surname 2

	#input