extends ../_template

block variables
	- var title = ['title','description','keywords']

block content
	//- INCLUDE BLOCKS
	//	include ../blocks/..

	//- PASTE SVG
	// svg
	// 	use(xlink:href=`${svgPath}#arrow`)
