extends ../_template

block variables
	- var title = ['index page Title','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
	//	include ../blocks/..

	//- PASTE SVG
	//svg
			use(xlink:href=`${svgPath}#arrow`)
	.block1
	.block2
	
	//ul.nav
			each link,title in nav.navPages
				li.nav__item
					a.nav__link(href=`${link}`) #{title}