extends ../_template

block variables
	- var title = ['index page Title','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
	//	include ../blocks/..

	//- PASTE SVG
	// svg
	// 	use(xlink:href=`${svgPath}#arrow`)


	.block1
	.block2